*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	
	
}
.banner{
	width: 100%;
	height: 100vh;
	background-image: url(../Assets/Images/timer/bg.jpg);
	background-size: cover;
	background-position: center;
	
	
}

.timer{
	font-family: sans-serif;
	display: inline-block;
	padding: 48px 128px;
	border-radius: 40px;
	background: #ffff-(0,255,255,255,);
	margin: 0;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	border: 5px solid #fff;
	
	
	
}

.timer__part{
	font-size: 70px;
	font-weight: normal;
	color: #fff;
	opacity: 100;
}
.timer__btn{
  position: relative;
  background-color: #04AA6D;
  border: none;
  border-radius: 20px;
  left: 0%;
  font-size: 5px;
  color: #FFFFFF;
  padding: 50px;
  width: 80px;
  height: 80px;
  text-align: center;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  animation: mymovement 0.5s infinite;
	
}
@keyframes mymovement {
  0%   {top: 55%; left: 6%;}
  25%  {top: 0%; left: 4%;}
  50%  {top: 55%; left: 6%;}
  75%  {top: 0%; left: 4%;}
  100% {top: 55%; left: 6%;}
}
.timer__btn:after {
  content: "";
  background: rgb(0, 0, 0);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -10px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.timer__btn:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.timer__btn--start{
	background: #00b84c;
	opacity: 100;
	
	
}
.timer__btn--reset{
	background: #ff0256;
	opacity: 100;
	
}
.heading{
	
	color: white;
	position: absolute;
    top: 12vw;
    left: 35vw;
	font-size: 2.4vw;
	font-weight: bold;
	
	
	
}
/*
.pic1 img{
	position: absolute;
	top: 50%;
	left:10%;
	opacity: 0.5;
	animation: pic1 1s infinite;
	
}
@keyframes pic1 {
  0%   {opacity: 0.5;}
  50% {opacity: 100;}
  100%   {opacity: 0.5;}
}
  
 .pic2 img{
	position: absolute;
	top: 50%;
	left:30%;
	opacity: 100;
	animation: pic2 1s infinite;
	
}
@keyframes pic2 {
  0%   {opacity: 100;}
  50% {opacity: 0.5;}
  100%   {opacity: 100;}
}
.pic3 img{
	position: absolute;
	top: 50%;
	left:50%;
	opacity: 0.5;
	animation: pic3 1s infinite;
	
}
@keyframes pic3 {
  0%   {opacity: 0.5;}
  50% {opacity: 100;}
  100%   {opacity: 0.5;}
}
.pic4 img{
	position: absolute;
	top: 50%;
	left:70%;
	opacity: 0.5;
	animation: pic4 1s infinite;
	
}
@keyframes pic4 {
  0%   {opacity: 100;}
  50% {opacity: 0.5;}
  100%   {opacity: 100;}
}
/*.navbar{
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.navbar ul li{
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	position: relative;
	left: 130%;
	
	
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	
	
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0%;
	background: #fff;
	position: absolute;
	left: 0;
	bottom: -10px;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
	
}*/

/*image*/
.el{
	position: absolute;
	top: 55vh;
	left: 7.5vh;
	width: 100%;
	height: auto;
	
	
}

.para{
	text-decoration: none;
	color: white;
	position: absolute;
	top: 57.3vh;
	left: 9.8vh;
	font-size: 4vh;
	
	
}
.para1{
	color: white;
	position: absolute;
	top: 63.7vh;
	left: 9.8vh;
	font-size: 1.45vh;
	
	
	
}
.el2{
	position: absolute;
	top: 55vh;
	left: 40vh;
	width: 100%;
	height: auto;
	
	
}

.para2{
	text-decoration: none;
	color: white;
	position: absolute;
	top: 57.3vh;
	left: 43vh;
	font-size: 4vh;
	
	
}
.para3{
	color: white;
	position: absolute;
	top: 63.7vh;
	left: 43vh;
	font-size: 1.45vh;
	
	
	
}

.el3{
	position: absolute;
	top: 55vh;
	left: 72vh;
	width: 100%;
	height: auto;
	
	
}

.para4{
	text-decoration: none;
	color: white;
	position: absolute;
	top: 57.3vh;
	left: 74.5vh;
	font-size: 4vh;
	
	
}
.para5{
	color: white;
	position: absolute;
	top: 63.7vh;
	left: 74.5vh;
	font-size: 1.45vh;
	
	
	
}

.el4{
	position: absolute;
	top: 55vh;
	left: 105vh;
	width: 100%;
	height: auto;
	
	
}

.para6{
	text-decoration: none;
	color: white;
	position: absolute;
	top: 57.3vh;
	left: 108vh;
	font-size: 4vh;
	
	
}
.para7{
	color: white;
	position: absolute;
	top: 63.7vh;
	left:108vh;
	font-size: 1.45vh;
	
	
	
}
.material-icons{
	text-align:center ;
}
